name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - main


jobs:
  prepare:
    # if: github.repository_owner == 'zncdatadev'
    name: Prepare Updated data
    uses: ./.github/workflows/reusable-prepare.yaml

  publish:
    name: Publish
    needs:
      - prepare
    uses: ./.github/workflows/reusable-build-publish.yaml
    with:
      registry: quay.io/zncdatadev
      kubedoop_version: 0.0.0-dev
      targets: ${{ matrix.targets }}
      push: true
      sign: false
    secrets: inherit
    strategy:
      matrix:
        targets: ${{ fromjson(needs.prepare.outputs.targets) }}
